# Core Framework 
Flask
pymysql # Novo driver

# Segurança e Autenticação
python-dotenv
Flask-Login # Mantemos para a estrutura de rotas
Flask-Bcrypt
Flask-WTF

# Servidor de Produção (para o deploy)
gunicorn